@model aplicacion.models.Escritura

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Escritura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comuna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comuna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manzana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manzana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Predio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Predio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fojas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fojas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInscripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInscripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroInscripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroInscripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NumAtencion" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
