@model aplicacion.models.Escritura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Escritura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumAtencion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumAtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comuna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comuna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manzana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manzana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Predio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Predio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fojas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fojas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInscripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInscripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroInscripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroInscripcion)
        </dd>
    </dl>
    <div>
    @if (Model.Cne == "regularizacion")
    {
        <h2>Adquirientes Actuales:</h2>
        <table class="table">
            <tr>
                <th>
                    Run/Rut
                </th>
                <th>
                    % Derecho
                </th>
                <th>
                    Derecho no acreditado
                </th>
            </tr>

            @foreach (var enajenanteActual in ViewBag.EnajenantesActuales)
            {
                <tr>
                    <td>
                        @enajenanteActual.RunRut
                    </td>
                    <td>
                        @enajenanteActual.PorcentajeDerecho
                    </td>
                    <td>
                        @enajenanteActual.PorcentajeDerechoNoAcreditado
                    </td>

                </tr>
            }

        </table>
    }
    @if (Model.Cne == "compraventa")
    {
            <h2>Enajenantes Actuales:</h2>
            <table class="table">
                <tr>
                    <th>
                        Run/Rut
                    </th>
                    <th>
                        % Derecho
                    </th>
                    <th>
                        Derecho no acreditado
                    </th>
                </tr>

                @foreach (var enajenanteActual in ViewBag.EnajenantesActuales)
                {
                    <tr>
                        <td>
                            @enajenanteActual.RunRut
                        </td>
                        <td>
                            @enajenanteActual.PorcentajeDerecho
                        </td>
                        <td>
                            @enajenanteActual.PorcentajeDerechoNoAcreditado
                        </td>

                    </tr>
                }

            </table>
            <h2>Adquirientes Actuales:</h2>
            <table class="table">
                <tr>
                    <th>
                        Run/Rut
                    </th>
                    <th>
                        % Derecho
                    </th>
                    <th>
                        Derecho no acreditado
                    </th>
                </tr>

                @foreach (var adquirienteActual in ViewBag.adquirientesActuales)
                {
                    <tr>
                        <td>
                            @adquirienteActual.RunRut
                        </td>
                        <td>
                            @adquirienteActual.PorcentajeDerecho
                        </td>
                        <td>
                            @adquirienteActual.PorcentajeDerechoNoAcreditado
                        </td>

                    </tr>
                }

            </table>
    }
   

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumAtencion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
