@model IEnumerable<aplicacion.models.Escritura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comuna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manzana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Predio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fojas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInscripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroInscripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manzana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fojas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroInscripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumAtencion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NumAtencion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NumAtencion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
