@model aplicacion.models.Adquirente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Adquirente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RunRut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RunRut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentajeDerecho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentajeDerecho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentajeDerechoNoAcreditado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentajeDerechoNoAcreditado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumAtencionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumAtencionNavigation.NumAtencion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAdquirente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
