@model aplicacion.models.Multipropietario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Multipropietario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comuna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comuna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manzana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manzana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Predio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Predio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RunRut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RunRut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentajeDerecho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentajeDerecho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fojas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fojas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoInscripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoInscripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroInscripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroInscripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInscripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInscripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoVigenciaInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoVigenciaInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoVigenciaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoVigenciaFinal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
