@model aplicacion.ViewModels.MultipropietarioViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form asp-controller="Multipropietarios" asp-action="Index" method="get">
    <div class="grid-container">
        <div class="section1">Comuna</div>
        <select name="SearchString">
            <option value="">--Seleccione una comuna--</option>
            @foreach (var comuna in Model.Comunas.OrderBy(c => c))
            {
                <option value="@comuna">@comuna</option>
            }
        </select>
        <div class="section1">Rol </div>   <input type="number" /> <input type="number" />
        <div class="section1">Año </div> 
        <select id="searchDate" name="searchDate">
            <option value=0></option>
            <option value=2019>2019</option>
            <option value=2020>2020</option>
            <option value=2021>2021</option>
            <option value=2022>2022</option>
            <option value=2023>2023</option>
        </select>
    </div>
        <input type="submit" value="Buscar" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                COMUNA
            </th>
            <th>
                MANZANA
            </th>
            <th>
                PREDIOA
            </th>
            <th>
                FECHA INSCRIPCION
            </th>
            <th>
                AÑO
            </th>
            <th>
                NUMERO
            </th>
            <th>
                RUT
            </th>

            <th>
                % DERECHO
            </th>
            <th>
                V INICIAL
            </th>
            <th>
                V FINAL
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var multipropietario in @Model.Multipropietarios.OrderByDescending(m => m.AnoInscripcion))
        {
        <tr>            
            <td>
                    @multipropietario.Comuna
            </td>
            <td>
                    @multipropietario.Manzana
            </td>
            <td>
                    @multipropietario.Predio
            </td>
            <td>
                    @multipropietario.FechaInscripcion
            </td>
            
            <td>
                    @multipropietario.AnoInscripcion
            </td>
            <td>
                    @multipropietario.NumeroInscripcion
            </td>
            <td>
                    @multipropietario.RunRut
            </td>

            <td>
                    @multipropietario.PorcentajeDerecho %
            </td>
            <td>
                    @multipropietario.AnoVigenciaInicial
            </td>
            <td>
                    @multipropietario.AnoVigenciaFinal
            </td>
        </tr>
}
    </tbody>
</table>
