@model IEnumerable<aplicacion.models.Multipropietario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form asp-controller="Multipropietarios" asp-action="Index" method="get">
    <div class="grid-container">
        <div class="section1">Comuna</div> <input type="text" name="SearchString" />
        <div class="section1">Rol </div>   <input type="number" /> <input type="number" />
        <div class="section1">Año </div>  <input type="number" name="searchDate" />
    </div>
        <input type="submit" value="Buscar" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RunRut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comuna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorcentajeDerecho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fojas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroInscripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoInscripcion)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FechaInscripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.RunRut)
            </td>
 
            <td>
                    @Html.DisplayFor(modelItem => item.Comuna)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PorcentajeDerecho) %
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Fojas)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.NumeroInscripcion)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AnoInscripcion)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>

        </tr>
}
    </tbody>
</table>

<style>


</style>